<div class="control-group">\
    <a class="remove-group" href="#"><i class="fa fa-remove"></i></a>\
    <label class="control-label" for="">Name</label>\
    <div class="controls">\
        <input type="text" name="jtlshop3plugin-Install-Adminmenu-Settingslink-Setting-Options-Option-#counter#[]" class="form-control required" placeholder="Auswahlm&ouml;glichkeit X">\
    </div>\
    <label class="control-label" for="">Wert</label>\
    <div class="controls">\
        <input type="text" name="jtlshop3plugin-Install-Adminmenu-Settingslink-Setting-Options-Option-value-#counter#[]" class="form-control required" placeholder="42">\
    </div>\
</div>\
